body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.container {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.main-box {
  background-color: rgb(55, 53, 53);
  padding: 50px 20px 200px 20px;
}

.main-box__inner {
  text-align: center;
}

.main-box__content-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: 50px;
  color: white;
}

.main-box__title {
  margin: 0;
  margin-bottom: 10px;
}

.main-box__number {
  margin: 0;
}

.buttons-list {
  margin-right: -20px;
}

.buttons-list__button {
  margin-right: 20px;
  padding: 10px 80px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  color: white;
}

.button-start {
  background-color: rgb(15, 163, 15);
}

.button-pause {
  background-color: rgb(73, 73, 253);
}

.button-reset {
  background-color: red;
}
